.card-wrapper {
  background: #efefef 0% 0% no-repeat padding-box;
  .container {
    width: 1106px;
    max-width: 100%;
    height: auto;
    min-height: 1136px;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;

    .cards {
      padding-top: 68.57px;
      font-weight: bold;
      color: #6f7579;
      .card {
        background: #ffffff 0% 0% padding-box;
        box-sizing: border-box;
        border-radius: 4px;
        margin: 0 0 20px 0;
        padding: 20px 10px 22px 10px;
        height: 355px;
        text-align: left;
        img {
          width: 100%;
        }
        h2 {
          padding-top: 26px;
        }
        p {
          padding-top: 20px;
          font-size: 16px;
        }
      }
    }
  }
}
.title {
  height: 121px;
  margin: 0 auto;
  padding-top: 68px;
  h1 {
    font-size: 60px;
    position: relative;
  }
  h1:before {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 76px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #3f51b5;
  }
}

@media all and (min-width: 480px) {
  .card-wrapper {
    .container {
      .cards {
        display: flex;
        flex-wrap: wrap;
        padding-top: 68.57px;
        .card {
          margin: 0 10px 20px 0;
          padding: 20px 20px 22px 20px;
          height: 355px;
          width: calc(50% - 5px);
          img {
            width: 100%;
          }
        }
        .card:nth-child(2n) {
          margin-right: 0px;
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .card-wrapper {
    .container {
      margin: 0 auto;
      justify-content: space-between;
      text-align: center;

      .cards {
        padding-top: 68.57px;
        .card {
          margin: 0 30px 20px 0;
          padding: 20px 20px 22px 20px;
          height: 355px;
          width: calc(33.33333333% - 20px);
          img {
            width: 100%;
          }
        }
        .card:nth-child(2n) {
          margin-right: 30px;
        }
        .card:nth-child(3n) {
          margin-right: 0px;
        }
      }
    }
  }
}
