
.contact-wrapper {
  background-color: #efefef;
  .container {
    width: 800px;
    max-width: 100%;
    height: auto;
    min-height: 1264px;
    margin: 0 auto;
    text-align: center;

    .contact {
      background-color: #ffffff;
      height: auto;
      min-height: 912px;
      padding-top: 52px;
      .input {
        .input-title {
          height: 60px;
          font-size: 18px;
          line-height: 60px;
          font-weight: bold;
          width: 200px;
          margin: 0 auto;
        }
        .required {
          position: relative;
        }
        .required::before {
          width: 40px;
          height: 23px;
          position: absolute;
          content: "必須";
          left: 100%;
          top: 50%;
          transform: translateY(-50%);
          background-color: #e81919;
          color: #ffffff;
          font-size: 14px;
          line-height: 23px;
          border-radius: 12px;
        }
        .input-field {
          width: 100%;
          max-width: 528px;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          background-color: transparent;
          background-image: none;
          border: 1px solid #707070;
          border-radius: 0;
          color: inherit;
          font-family: inherit;
          font-size: 16px;
          height: 60px;
        }
        .input-field::placeholder {
          font-weight: regular;
          color: #cccccc;
        }
        .input-text {
        }
        .select-field {
          color: #cccccc;
        }
        .input-textarea {
          height: 240px;
        }
      }

      .input-radio {
        display: none;
        font-weight: regular;
      }
      .input-radio + span {
        //input-radioの直後のspanを指定
        cursor: pointer; //カーソルを指にするやつ
        display: inline-block; //要素の並び方はinline的で、要素の中身はblock的な性質を持ちます。
        margin: 50px 2em 0;
        padding: 0 0 0 1.2em;
        position: relative; //自身の位置を元いた場所から相対的な場所に指定する（ここでは子要素の開始位置を決めるために書いてある）
      }

      .input-radio + span::before {
        background: #ffffff;
        border: 1px solid #707070;
        border-radius: 50%;
        content: ""; //擬似要素の内容を書く。今回は枠だけ使いたいから空白
        display: block;
        position: absolute; //自身の位置を左上からの絶対距離で指定する（親にrelativeがついてるので親の左上からスタート
        left: -15px; //親枠の左上を起点として左に15px
        top: 50%; //親枠の左上を起点として下に移動（親枠上下の中央に子の起点が来る）
        transform: translateY(
          -50%
        ); //子が枠の半分だけ上に戻る（子上下の中央が親上下の中央に来る）
        height: 30px;
        width: 30px;
      }

      .input-radio + span::after {
        background: #006c6a;
        border: 1px solid transparent;
        border-radius: 50%;
        content: "";
        height: 18px;
        left: -9px;
        opacity: 0;
        // margin: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease 0s;
        width: 18px;
      }

      .input-radio:checked + span::after {
        opacity: 1;
      }

      .check {
        margin-top: 45px;
      }

      .input-check {
        display: none;
      }

      .input-check + span {
        cursor: pointer;
        display: inline-block;
        margin: 0 0;
        padding: 0 0 0;
        position: relative;
        a {
          border-bottom: 1px solid #333333;
        }
      }



      .input-check:checked + span::after {
        display: block;
      }

      .btn {
        margin-top: 3rem;
        width: 100%;
        p {
          font-weight: bold;
          font-size: 20px;
          color: #ffffff;
          background-color: #006c6a;
          padding: 15px 87px;
          border-radius: 12px;
          position: relative;
        }
      }
    }
  }
}
