header {
  background-color: #3f51b5;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  .container {
    padding-top: 30px;
    width: 1143px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .logo {
      width: 200px;
      height: 31px;
      margin-left: 10px;
    img{
      object-fit: cover;
      }
    }

    .menu {
      display: none;
      margin-top: 10px;
      ul {
        list-style-type: none;
        display: flex;

        li {
          font-size: 16px;
          a {
            color: #ffffff;
            margin-right: 30px;
            &:hover {
              border-bottom: solid 3px #e81919;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 480px) {
  header {
    .container {
      .logo {
        margin-left: 30px;
      }
    }
  }
}

@media all and (min-width: 768px) {
  header {
    .container {
      .menu {
        display: block;
      }
    }
  }
}
